[Desktop Entry]
Type=Application
Version=1.0
Name=WhatsApp Desktop
Comment=WhatsApp Desktop
Exec=/opt/whatsapp-desktop/whatsapp
StartupNotify=false
Terminal=false
Categories=Network;InstantMessaging;
Icon=whatsapp
StartupWMClass=whatsapp-desktop
